<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List of Users</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</head>
<body>

<!-- Top navigation bar-->
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
             <b><span sec:authentication="principal.username">Username</span></b>
                      with roles:
            <span sec:authentication="principal.authorities">Roles</span>
        </span>
        <form th:action="@{/logout}" th:method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>
<!--End of top navigation bar-->

<!--Left navigation menu-->
<div class="container-fluid" style="max-height: 100%; height: 100vh; background-color: #f8f9fa">
    <div class="row">
        <div class="p-0 col-2" style="max-height: 100%; height: 100vh; background-color: white">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-admin-tab" data-bs-toggle="list" href="#v-pills-admin" role="tab"
                   aria-controls="v-pills-admin" aria-selected="true"
                   sec:authorize="hasAuthority('ROLE_ADMIN')">Admin</a>
                <a class="nav-link" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
                   aria-controls="v-pills-user" aria-selected="false"
                   sec:authorize="(hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER'))" onclick="document.location='/user'">User</a>
            </div>
        </div>
<!--End of left navigation menu-->

        <!--Admin panel-->
        <div class="col-md-10 bg-light" style="padding-top: 20px; height: 900px">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-admin" role="tabpanel"
                     aria-labelledby="v-pills-admin-tab">
                    <h1 class="h1">Admin panel</h1>
                    <!--Users table tab-->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab"
                                    data-bs-toggle="tab" data-bs-target="#home"
                                    type="button" role="tab"
                                    aria-controls="home" aria-selected="true">Users table
                            </button>
                        </li>
                        <!--New user tab-->
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="new-user-tab"
                                    data-bs-toggle="tab" data-bs-target="#newUser"
                                    type="button" role="tab" aria-controls="profile" aria-selected="false">New User
                            </button>
                        </li>
                    </ul>

                    <!--Users table-->
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="card">
                                <h5 class="card-header">All users</h5>
                                <div class="card-body text-center">
                                    <table class="table table-striped" id="users-table-show">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Last Name</th>
                                            <th>Age</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th>Edit</th>
                                            <th>Delete</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tableBodyAdmin">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!--Edit modal-->
                        <div class="editModalClass">
                            <div class="modal fade" id="editModal" aria-hidden="true" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body col-md text-center">
                                            <form id="editUserForm">
                                                <div class="mb-3">
                                                    <label for="idEdit"
                                                           class="col-form-label"><b>ID</b></label>
                                                    <input type="text"
                                                           name="id"
                                                           class="form-control" id="idEdit"
                                                           readonly/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="nameEdit"
                                                           class="col-form-label"><b>First Name</b></label>
                                                    <input type="text"
                                                           name="name"
                                                           class="form-control" id="nameEdit"
                                                           required minlength="2" maxlength="20"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="lastNameEdit"
                                                           class="col-form-label"><b>Last Name</b></label>
                                                    <input type="text"
                                                           name="lastName"
                                                           class="form-control" id="lastNameEdit"
                                                           required minlength="2" maxlength="20"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="ageEdit"
                                                           class="col-form-label"><b>Age</b></label>
                                                    <input type="text"
                                                           name="age"
                                                           class="form-control" id="ageEdit"
                                                           required minlength="2" maxlength="20"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="usernameEdit"
                                                           class="col-form-label"><b>Email</b></label>
                                                    <input type="email"
                                                           name="username"
                                                           class="form-control" id="usernameEdit"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="passEdit"
                                                           class="col-form-label"><b>Password</b></label>
                                                    <input type="password"
                                                           name="password"
                                                           class="form-control" id="passEdit"
                                                           required minlength="2" maxlength="20"/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="rolesEdit" class="font-weight-bold" size="2"><b>Role</b></label>
                                                    <select class="form-control" id="rolesEdit" name="roles"
                                                            multiple></select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary "
                                                            data-bs-dismiss="modal" id="buttonClose">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary buttonUpdate">Edit
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Delete modal-->
                        <div class="deleteModalClass">
                            <div class="modal fade" id="deleteModal" tabindex="-1"
                                 aria-labelledby="delete" aria-hidden="true" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="delete">Delete
                                                user</h1>
                                            <button type="button" class="btn-close"
                                                    data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body col-md text-center">
                                            <form id="deleteUserForm">
                                                <div class="mb-3">
                                                    <label htmlFor="idDelete"
                                                           class="col-form-label"><b>ID</b></label>
                                                    <input type="text"
                                                           name="id"
                                                           class="form-control" id="idDelete"
                                                           readonly/>
                                                </div>
                                                <div class="mb-3">
                                                    <label htmlFor="nameDelete"
                                                           class="col-form-label"><b>First Name</b></label>
                                                    <input type="text"
                                                           name="name"
                                                           class="form-control" id="nameDelete"
                                                           required minLength="2" maxLength="20"
                                                           readonly/>
                                                </div>
                                                <div class="mb-3">
                                                    <label htmlFor="lastNameDelete"
                                                           class="col-form-label"><b>Last Name</b></label>
                                                    <input type="text"
                                                           name="lastName"
                                                           class="form-control"
                                                           id="lastNameDelete"
                                                           required minLength="2" maxLength="20"
                                                           readonly/>
                                                </div>
                                                <div class="mb-3">
                                                    <label htmlFor="ageDelete"
                                                           class="col-form-label"><b>Age</b></label>
                                                    <input type="text"
                                                           name="age"
                                                           class="form-control" id="ageDelete"
                                                           required minLength="2" maxLength="20"
                                                           readonly/>
                                                </div>
                                                <div class="mb-3">
                                                    <label htmlFor="usernameDelete"
                                                           class="col-form-label"><b>Email</b></label>
                                                    <input type="email"
                                                           name="username"
                                                           class="form-control"
                                                           id="usernameDelete"
                                                           readonly/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="rolesDelete" class="font-weight-bold"
                                                           size="2"><b>Role</b></label>
                                                    <select class="form-control" id="rolesDelete" th:name="roles"
                                                            multiple
                                                            readonly>
                                                    </select>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            id="buttonCloseDelete"
                                                            data-bs-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-danger " id="buttonDelete">
                                                        Delete
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--New user tab-->
                        <div class="tab-pane fade" id="newUser">
                            <div class="card">
                                <h5 class="card-header">Add new user</h5>
                                <div class="card-body text-center">
                                    <form id="newUserForm">
                                        <div class="mb-3">
                                            <label class="font-weight-bold" for="firstNameNew"><b>First name</b></label>
                                            <input class="form-control" type="text" required minlength="2" maxlength="15"
                                                   id="firstNameNew"
                                                   name="name"
                                                   style="height: 30px; width: 300px; margin: 0 auto"
                                                   placeholder="First Name"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-weight-bold" for="lastNameNew"><b>Last name</b></label>
                                            <input class="form-control" type="text" required minlength="2"
                                                   maxlength="15"
                                                   name="lastName"
                                                   id="lastNameNew"
                                                   style="height: 30px; width: 300px; margin: 0 auto"
                                                   placeholder="Last Name"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-weight-bold" for="ageNew"><b>Age</b></label>
                                            <input class="form-control" type="number" step="1" min="0" required
                                                   minlength="1" maxlength="120"
                                                   id="ageNew"
                                                   name="age"
                                                   style="height: 30px; width: 300px; margin: 0 auto"
                                                   placeholder="Age"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-weight-bold" for="emailNew"><b>Email</b></label>
                                            <br>
                                            <input class="form-control" type="email"
                                                   id="emailNew"
                                                   name="username"
                                                   style="height: 30px; width: 300px; margin: 0 auto"
                                                   placeholder="Email"/>
                                        </div>
                                        <div class="mb-3">
                                            <label class="font-weight-bold" for="passwordNew"><b>Password</b></label>
                                            <input class="form-control" type="password" required minlength="3"
                                                   maxlength="15"
                                                   id="passwordNew"
                                                   name="password"
                                                   style="height: 30px; width: 300px; margin: 0 auto"
                                                   placeholder="Password"/>
                                        </div>
                                        <div class="mb-3">
                                            <label for="rolesAdd" class="font-weight-bold"><b>Role</b></label>
                                            <select class="form-control" id="rolesAdd" name="roles"
                                                    multiple style="height: 50px; width: 300px; margin: 0 auto">
                                            </select>
                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-success">Add new user</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/admin.js"></script>
<script src="/js/user.js"></script>
</html>

