<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
    <body>
        <h2>Edit user</h2>
        <hr/>
        <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
            <div class="field">
                <label for="username">Enter a new name:</label>
                <input type="text" th:field="*{username}" id="username">
            </div>

            <br/>
            <br/>

            <div class="field">
                <label for="email">Enter a new Email:</label>
                <input type="text" th:field="*{email}" id="email">
            </div>

            <br/>
            <br/>

            <div class="field">
                <label for="password">Enter a new password:</label>
                <input type="password" th:field="*{password}" id="password">
            </div>

            <br/>
            <br/>

            <div>
                <p>
                    <label>Roles:
                        <input type="checkbox" name="roles"
                               th:each="role : ${rolesList}"
                               th:text="${role.getRoleName()}"
                               th:value="${role.getId()}"
                               th:field="*{roles}"
                        />
                    </label>
                </p>
            </div>

            <input type="submit" value="Confirm"/>
        </form>
        <br/>
        <input type="button" value="Back" onclick="history.go(-1)">

        <br/>
        <br/>

        <form th:action="@{/logout}" th:method="post">
            <input type="submit" value="Logout">
        </form>

        <br/>

        <form th:action="@{/index}" th:method="get">
            <input type="submit" value="Main page">
        </form>
    </body>
</html>