<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h2>Welcome to my web-site! </h2>
    <hr/>
    <form th:action="@{/login}" th:method="get">
        <input type="submit" value="Login">
    </form>

    <br/>

    <form th:action="@{/registration}" th:method="get">
        <input type="submit" value="Registration">
    </form>

    <br/>

</body>
</html>