<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h2>Login</h2>
<hr/>
<form name="f" method="post" action="/process_login">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="username">Enter the username:</label>
    <input type="text" name="username" id="username" />
    <br/>
    <br/>
    <label type for="password">Enter the password:</label>
    <input type="password" name="password" id="password"/>
    <br/>
    <br/>
    <input type="submit" value="Login"/>
    <div th:if="${param.error}" style="color: red">
        Invalid username or password.
    </div>
</form>
<br/>
<form th:action="@{/registration}" th:method="get">
    <input type="submit" value="Registration for user">
</form>
<br/>
<form th:action="@{/registration_admin_page}" th:method="get">
    <input type="submit" value="Registration for admin">
</form>
<br/>
<input type="button" value="Back" onclick="history.go(-1)">
<br/>
<br/>
<form th:action="@{/index}" th:method="get">
    <input type="submit" value="Main page">
</form>
</body>
</html>