<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .class1{
            width: 200px;
            height: 200px;
            background-color: blueviolet;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <button id="btnTest"> Test</button>
  <input id="input" type="text" value="50">

  <div class="class1">Box 1</div>
  <div class="class1">Box 5</div>

  <script>
    let tag = document.getElementById('btnTest')
    let input1 = document.getElementById('input')
    console.log(input1.value)
    // console.log(tag.innerHTML)

    let class1 = document.getElementsByClassName('class1')
    console.log(class1)
    class1[0].style.backgroundColor = 'blue'

    //addEventListener() - назначение события для кнопки по действию click, так же можно сделать событие по наведению курсора на кнопку.
    btnTest.addEventListener('click', (e) =>{
        alert('WHAT ARE U DOING?')
    })
  </script>
</body>
</html>