<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>UserPage</title>


</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
             <b><span sec:authentication="principal.username">Username</span></b>
                      with roles:
            <span sec:authentication="principal.authorities">Roles</span>
        </span>
        <form th:action="@{/logout}" th:method="post">
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
    </div>
</nav>
<div class="container-fluid" style="max-height: 100%; height: 100vh; background-color: #f8f9fa">
    <div class="row">
        <div class="p-0 col-2" style="max-height: 100%; height: 100vh; background-color: white">
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link " id="v-pills-admin-tab" href="/adm" aria-current="page">Admin</a>
                </div>
                <a class="nav-link active" sec:authorize="(hasAnyAuthority('ROLE_ADMIN', 'ROLE_USER'))" href="/user">User</a>
            </div>
        </div>
        <div class="col-md-10 bg-light" style="padding-top: 20px; height: 900px">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel"
                     aria-labelledby="v-pills-user-tab">
                    <h1 class="h1">User information-page</h1>
                    <div class="card">
                        <h5 class="card-header">About user</h5>
                        <div class="card-body text-center">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                </tr>
                                </thead>
                                <tbody id="tBodyUserInformation">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/user.js"></script>
</body>
</html>