<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
    <body>
        <h1>Users list</h1>
        <div>
            <table border="1">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Age</th>
                    <th scope="col">Action</th>
                </tr>
                <tr align="center" th:each="user : ${users}">
                    <td width="200"> <p th:text="${user.getId()}">Id</p></td>
                    <td width="200"> <p th:text="${user.getName()}">Name</p></td>
                    <td width="200"> <p th:text="${user.getSurname()}">Surname</p></td>
                    <td width="200"> <p th:text="${user.getAge()}">Age</p></td>
                    <td>
                        <form method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
                            <input type="submit" value="Edit user">
                        </form>
                        <form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
                            <input type="submit" value="Delete user"/>
                        </form>
                    </td>
                </tr>
            </table>
            <hr/>
            <h2>Add User</h2>
            <input type = "button" value = "Create new user"
                   onclick = "window.location.href = 'users/new'"/>
            <form th:action="@{/logout}" th:method="post">
                <input type="submit" value="Logout">
            </form>
        </div>
    </body>
</html>